<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dist/app.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>

<body class="outside-wrapper">

<div class="container-fluid">
    <div class="row">
        {% block body %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('dist/app.js') }}"></script>
{% endblock %}
</body>
</html>
