{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">

        {% if error %}
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <div id="login-form">
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" class="form-control"
                               value="{{ last_username }}"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" class="form-control" name="_password"/>
                    </div>
                    <button type="submit" class="btn btn-primary">login</button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}